<%= form_with(model: playbook, local: true) do |form| %>
  <%= render 'layouts/errors', errors: playbook.errors %>

  <%= form.labelled_text_field :name %>
  <%= form.labelled_text_field :description %>
  <%= form.labelled_text_area :config %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
