<%= form_with(model: playbook, local: true) do |form| %>
  <%= render 'layouts/errors', errors: playbook.errors %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
