<%= form_with(model: playbook, local: true) do |form| %>
  <% if playbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(playbook.errors.count, "error") %> prohibited this playbook from being saved:</h2>

      <ul>
      <% playbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
