<h1>Playbooks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playbooks.each do |playbook| %>
      <tr>
        <td><%= link_to playbook.name, playbook %></td>
        <td><%= playbook.description&.slice(0, 100) %></td>
        <td><%= link_to 'Edit', edit_playbook_path(playbook) %></td>
        <td><%= link_to 'Destroy', playbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playbook', new_playbook_path %>
