<p id="notice"><%= notice %></p>

<p>
  <h4>Name:</h4>
  <%= @playbook.name %>
</p>

<p>
  <h4>Description:</h4>
  <%= @playbook.description %>
</p>

<p>
  <h4>Ratings Options</h4>
  <ul>
    <% @playbook.ratings.each do |rating| %>
      <li><%= "Charm #{sprintf('%+d', rating.charm)}, Cool #{sprintf('%+d', rating.cool)}, Sharp #{sprintf('%+d', rating.sharp)}, Tough #{sprintf('%+d', rating.tough)}, Weird #{sprintf('%+d', rating.weird)}" %></li>
    <% end %>
  </ul>
</p>

<p>
  <h4>Moves</h4>
  <%= render "moves/moves", moves: @playbook.moves, hunter: nil %>
</p>

<%= link_to 'Edit', edit_playbook_path(@playbook) %> |
<%= link_to 'Back', playbooks_path %>
