<div class="columns">
  <div class="column">
    <h1 class="title"><%= @playbook.name %></h1>
    <p class="is-italic"><%= @playbook.description %></p>
    <h4 class="subtitle" style="margin-top:1rem; margin-bottom:.5rem"><%= t('.ratings') %></h4>
    <ul>
      <% @playbook.ratings.each do |rating| %>
        <li><%= display_rating(rating) %></li>
      <% end %>
    </ul>
    <% if @playbook.luck_effect %>
      <p><%= t('.luck_effect_html', playbook_name: @playbook.name, luck_effect: @playbook.luck_effect) %></p>
    <% end %>

    <h4 class="subtitle is-4" style="margin-top:1rem; margin-bottom:.5rem"><%= @playbook.backstory&.dig(:name) %></h4>
    <% @playbook.backstory&.dig(:headings)&.each do |heading| %>
      <h5 class="subtitle is-5" style="margin-top:1rem; margin-bottom:.5rem"><%= heading[:name] %></h5>
      <ul>
      <% heading[:choices].each do |choice| %>
        <li><%= choice %></li>
      <% end %>
      </ul>
    <% end %>
    <%= show_page_buttons(@playbook) %>
  </div>
  <div class="column">
    <h4 class="subtitle"><%= Move.model_name.human(count: 3) %></h4>
    <%= render "moves/moves", moves: @playbook.moves, hunter: nil %>
  </div>
  <div class="column">
    <h4 class="subtitle"><%= Gear.model_name.human(count: 3) %></h4>
    <%= render "gears/gears", gears: @playbook.gears %>
    <h4 class="subtitle" style="margin-top:1rem; margin-bottom:.5rem"><%= Improvement.model_name.human(count: 3) %></h4>
    <ul>
      <% @playbook.improvements.not_advanced.each do |improvement| %>
        <li><%= link_to_improvement(improvement) %></li>
      <% end %>
    </ul>
    <h4 class="subtitle" style="margin-top:1rem; margin-bottom:.5rem"><%= t('.advanced_improvements') %></h4>
    <ul>
      <% @playbook.improvements.advanced.each do |improvement| %>
        <li><%= link_to_improvement(improvement) %></li>
      <% end %>
    </ul>
  </div>
</div>
