<%= form_with(model: hunter, local: true, builder: ApplicationFormBuilder) do |form| %>
  <%= render 'layouts/errors', errors: hunter.errors %>

  <section>
    <%= form.labelled_text_field :name %>
    <%= form.labelled_collection_select(:playbook_id, Playbook.all, :id, :to_s) %>
    <%= form.labelled_number_field(:harm) %>
    <%= form.labelled_number_field(:luck) %>
    <%= form.labelled_number_field(:experience) %>
    <%= form.labelled_number_field(:charm) %>
    <%= form.labelled_number_field(:cool) %>
    <%= form.labelled_number_field(:sharp) %>
    <%= form.labelled_number_field(:tough) %>
    <%= form.labelled_number_field(:weird) %>
    <%= form.labelled_check_box(:retired) %>
  </section>

  <div class="actions">
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>
