<div class="level">
    <div class="level-left">
        <h1>Editing Hunter</h1>
    </div>
    <% if policy(@hunter).destroy? %>
        <div class="level-right">
            <%= link_to t('hunters.show.destroy'),
                        hunter_path(@hunter),
                        method: :delete,
                        class: 'button is-danger',
                        data: { confirm: t('hunters.show.confirm_destroy') }
            %>
        </div>
    <% end %>
</div>

<div class="columns">
  <div class="column">
    <%= render 'form', hunter: @hunter %>
    <%= link_to 'Show', @hunter %> |
    <%= link_to 'Back', hunters_path %>
  </div>
  <div class="column">
    <hunter-moves hunter_id=<%= "#{@hunter.id}" %>></hunter-moves>
  </div>
  <div class="column">
    <hunter-gear hunter_id=<%= "#{@hunter.id}" %>></hunter-gear>
  </div>
</div>
