<h1>New Hunter</h1>

<%= form_with(model: @hunter, local: true) do |form| %>
  <%= render 'layouts/errors', errors: @hunter.errors %>

  <section>
    <%= form.labelled_text_field :name %>
    <hunter-new-form :playbooks="<%= Playbook.all.to_json %>" />
  </section>

  <div class="actions">
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>

<%= link_to 'Back', hunters_path %>
