<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hunter.name %>
</p>

<p>
  <strong>Harm:</strong>
  <%= @hunter.harm %>
</p>

<p>
  <strong>Luck:</strong>
  <%= @hunter.luck %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @hunter.experience %>
</p>

<p>
  <strong>Charm:</strong>
  <%= @hunter.charm %>
</p>

<p>
  <strong>Cool:</strong>
  <%= @hunter.cool %>
</p>

<p>
  <strong>Sharp:</strong>
  <%= @hunter.sharp %>
</p>

<p>
  <strong>Tough:</strong>
  <%= @hunter.tough %>
</p>

<p>
  <strong>Weird:</strong>
  <%= @hunter.weird %>
</p>

<p>
  <h4>Moves</h4>
  <%= render "moves/moves", moves: @hunter.moves, hunter: @hunter %>
</p>

<%= link_to 'Edit', edit_hunter_path(@hunter) %> |
<%= link_to 'Back', hunters_path %>
