<div class="columns">
  <div class="column">
    <h1><%= @hunter.name %>, <%= @hunter.playbook.name %></h1>
    <p><i><%= @hunter.playbook.description %></i></p>
    <hunter-ratings hunter_id=<%= "#{@hunter.id}" %>></hunter-ratings>

    <p>
      <strong>Harm:</strong>
      <%= @hunter.harm %>
    </p>

    <p>
      <strong>Luck:</strong>
      <%= @hunter.luck %>
    </p>

    <p>
      <strong>Experience:</strong>
      <%= @hunter.experience %>
      <span v-if="<%= @hunter.experience %> >= 5">
        <%= link_to 'Take an Improvement', new_hunter_hunters_improvement_path(hunter_id: @hunter.id) %>
      </span>
    </p>
  </div>
  <div class="column">
    <p>
      <h4>Moves</h4>
      <%= render "moves/moves", moves: @hunter.moves, hunter: @hunter %>
    </p>
  </div>
</div>
<br />
<%= link_to 'Edit', edit_hunter_path(@hunter), class: "button is-primary" %>
<%= link_to 'Back', hunters_path, class: "button" %>
