<p id="notice"><%= notice %></p>

<h1>Improvements</h1>

<table class="table">
  <thead>
    <tr>
      <th>Playbook</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Stat limit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @improvements.each do |improvement| %>
      <tr>
        <td><%= link_to_playbook(improvement) %>
        <td><%= link_to improvement.description, improvement_path(improvement) %></td>
        <td><%= improvement.rating %></td>
        <td><%= improvement.stat_limit %></td>
        <td><%= link_to 'Edit', edit_improvement_path(improvement) %></td>
        <td><%= link_to 'Destroy', improvement_path(improvement), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Improvement', new_improvement_path %>
