<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @improvement.description %>
</p>

<p>
  <strong>Advanced:</strong>
  <%= @improvement.advanced %>
</p>

<p>
  <strong>Type:</strong>
  <%= @improvement.type %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @improvement.rating %>
</p>

<p>
  <strong>Stat limit:</strong>
  <%= @improvement.stat_limit %>
</p>

<%= show_page_buttons(@improvement) %>
