<p id="notice"><%= notice %></p>

<h1>Hunter Backstories</h1>

<table class="table">
  <thead>
    <tr>
      <th>Backstory</th>
      <th>Hunter</th>
      <th>Playbook</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @hunter_backstories.each do |hunter_backstory| %>
      <tr>
        <td><%= link_to hunter_backstory_name(hunter_backstory), hunter_backstory %></td>
        <td><%= link_to hunter_backstory.hunter, hunter_backstory.hunter %></td>
        <td><%= link_to hunter_backstory.playbook, hunter_backstory.playbook %></td>
        <td><%= link_to 'Edit', edit_hunter_backstory_path(hunter_backstory) %></td>
        <td><%= link_to 'Destroy', hunter_backstory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
