<ul>
  <% moves.each do |move| %>
    <li><strong><%= move.name %>:</strong><%= move.description %>
      <% if move.rollable? && hunter %>
        <hunter-roll-move hunter_id=<%= hunter.id %> move_id=<%= move.id %> />
        <%= link_to 'Roll', hunter_path(hunter), data: { confirm: "#{move.roll_results(hunter)}" } %>
      <% else %>
        <%= [move.ten_plus, move.seven_to_nine, move.six_and_under].join(' ') %>
      <% end %></li>
  <% end %>
</ul>
