<div class="level">
  <div class="level-left">
    <h1><%= t('.title') %></h1>
  </div>
  <% if policy(@move).destroy? %>
    <div class="level-right">
      <%= link_to t('moves.show.destroy'),
                  move_path(@move),
                  method: :delete,
                  class: 'button is-danger',
                  data: { confirm: t('moves.show.confirm_destroy') }%>
    </div>
  <% end %>
</div>

<%= render 'form', move: @move %>

<%= link_to t('.show_link'), moves_path(@move) %> |
<%= link_to t('.back_link'), moves_path %>
