<h1>Moves</h1>

<table class="table">
  <thead>
    <tr>
      <th>Source</th>
      <th>Name</th>
      <th>Rating</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @moves.each do |move| %>
      <tr>
        <td><%= move_source(move) %></td>
        <td><%= link_to_move(move) %></td>
        <td><%= move.rating %></td>
        <td><%= link_to 'Edit', edit_move_path(move) %></td>
        <td><%= link_to 'Destroy', move_path(move), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Move', new_move_path %>
