<h1>Moves</h1>

<table>
  <thead>
    <tr>
      <th>Playbook</th>
      <th>Name</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moves.each do |move| %>
      <tr>
        <td><%= link_to_playbook(move) %></td>
        <td><%= move.name %></td>
        <td><%= move.rating %></td>
        <td><%= link_to 'Show', move_path(move) %></td>
        <td><%= link_to 'Edit', edit_move_path(move) %></td>
        <td><%= link_to 'Destroy', move_path(move), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Move', new_move_path %>
