<% if @move.playbook %>
  <p>
    <strong>Playbook:</strong>
    <%= link_to @move.playbook.name, @move.playbook %>
  </p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @move.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @move.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @move.rating %>
</p>

<p>
  <strong>On a failed roll:</strong>
  <%= @move.six_and_under %>
</p>

<p>
  <strong>On a mixed success:</strong>
  <%= @move.seven_to_nine %>
</p>

<p>
  <strong>On a 10+:</strong>
  <%= @move.ten_plus %>
</p>

<p>
  <strong>Advanced Move, on a 12+:</strong>
  <%= @move.twelve_plus %>
</p>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
