<% if @move.playbook %>
  <p>
    <strong><%= t('.playbook') %></strong>
    <%= link_to @move.playbook.name, @move.playbook %>
  </p>
<% end %>

<p>
  <strong><%= t('.name') %></strong>
  <%= @move.name %>
</p>

<p>
  <strong><%= t('.description') %></strong>
  <%= @move.description %>
</p>

<p>
  <strong><%= t('.haven') %></strong>
  <%= @move.haven %>
</p>

<p>
  <strong><%= t('.rating') %></strong>
  <%= @move.rating %>
</p>

<p>
  <strong><%= t('.failed_roll') %></strong>
  <%= @move.six_and_under %>
</p>

<p>
  <strong><%= t('.mixed_success') %></strong>
  <%= @move.seven_to_nine %>
</p>

<p>
  <strong><%= t('.ten_plus') %></strong>
  <%= @move.ten_plus %>
</p>

<p>
  <strong><%= t('.advanced_move_twelve_plus') %></strong>
  <%= @move.twelve_plus %>
</p>

<%= show_page_buttons(@move) %>
