<%= form_with(model: [hunters_improvement.hunter, hunters_improvement], local: true) do |form| %>
  <%= render 'layouts/errors', errors: hunters_improvement.errors %>

  <hunters-improvement-form hunter_id="<%= hunters_improvement.hunter.id %>" :improvements="<%= @improvements.to_json %>"></hunters-improvement-form>

  <div class="actions">
    <%= form.submit class: 'button' %>
  </div>
<% end %>
