<%= form_with(model: [hunters_improvement.hunter, hunters_improvement], local: true) do |form| %>
  <% if hunters_improvement.errors.any? %>
    <b-notification
      type="is-danger"
      aria-close-label="Close notification"
      role="alert">
      <h4><%= pluralize(hunters_improvement.errors.count, "error") %> prohibited this hunters_improvement from being saved:</h4>
      <ul>
        <% hunters_improvement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </b-notification>
  <% end %>

  <hunters-improvement-form hunter_id="<%= hunters_improvement.hunter.id %>" :improvements="<%= @improvements.to_json %>"></hunters-improvement-form>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
