<%= form_with(model: gear, local: true) do |form| %>
  <% if gear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gear.errors.count, "error") %> prohibited this gear from being saved:</h2>

      <ul>
      <% gear.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :playbook_id %>
    <%= select_playbook(form) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :harm %>
    <%= form.number_field :harm %>
  </div>

  <div class="field">
    <%= form.label :armor %>
    <%= form.number_field :armor %>
  </div>

  <div>
    <%= form.label :tag_list %>
    <%= form.text_field :tag_list %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
