<%= form_with(model: gear, local: true) do |form| %>
  <%= render 'layouts/errors', errors: gear.errors %>

  <div class="field">
    <%= form.label :playbook_id %>
    <div class="control">
      <%= select_playbook(form) %>
    </div>
  </div>

  <div class="field">
    <%= form.label :name %>
    <div class="control">
      <%= form.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description %>
    <div class="control">
      <%= form.text_field :description, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :harm %>
    <div class="control">
      <%= form.number_field :harm, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :armor %>
    <div class="control">
      <%= form.number_field :armor, class: 'input' %>
    </div>
  </div>

  <div>
    <%= form.label :tag_list %>
    <div class="control">
      <%= form.text_field :tag_list, class: 'input' %>
    </div>
  </div>
  <br />
  <div class="actions">
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>
