<p id="notice"><%= notice %></p>

<h1>Gears</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Harm</th>
      <th>Armor</th>
      <th>Tags</th>
      <th>Playbook</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gears.each do |gear| %>
      <tr>
        <td><%= gear.name %></td>
        <td><%= gear.description %></td>
        <td><%= gear.harm %></td>
        <td><%= gear.armor %></td>
        <td><%= gear.tag_list %></td>
        <td><%= link_to 'Show', gear %></td>
        <td><%= link_to 'Edit', edit_gear_path(gear) %></td>
        <td><%= link_to 'Destroy', gear, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gear', new_gear_path %>
