<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gear.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gear.description %>
</p>

<% unless @gear.harm.nil? %>
  <p>
    <strong>Harm:</strong>
    <%= @gear.harm %>
  </p>
<% end %>

<% unless @gear.armor.nil? %>
  <p>
    <strong>Armor:</strong>
    <%= @gear.armor %>
  </p>
<% end %>

<p>
  <strong>Tags:</strong>
  <%= @gear.tag_list %>
</p>

<%= link_to 'Edit', edit_gear_path(@gear) %> |
<%= link_to 'Back', gears_path %>
