<p id="notice"><%= notice %></p>

<p>
  <strong>Playbook:</strong>
  <%= link_to_playbook(@gear) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @gear.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gear.description %>
</p>

<p>
  <strong>Harm:</strong>
  <%= @gear.harm %>
</p>

<p>
  <strong>Armor:</strong>
  <%= @gear.armor %>
</p>

<%= link_to 'Edit', edit_gear_path(@gear) %> |
<%= link_to 'Back', gears_path %>
