<!DOCTYPE html>
<html>
  <head>
    <title>Hunterskeepers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    <% if notice %>
      <div id="notice">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div id="alert"><%= alert %></div>
    <% end %>
    <%= yield %>
    <div id='hello'>
      {{message}}
      <app></app>
    </div>
  </body>
</html>
