<!DOCTYPE html>
<html>
  <head>
    <title>Hunterskeepers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= favicon_link_tag(asset_pack_path("media/images/icon-36x36.png"), type: "image/png") %>
  </head>

  <body>
    <div id="vue-app" class="container">
      <%= render 'layouts/navbar' %>
      <% if notice %>
        <b-message type="is-success">
          <%= notice %>
        </b-message>
      <% end %>
      <% if alert %>
        <b-message type="is-danger">
          <%= alert %>
        </b-message>
      <% end %>
      <section class="section">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
